{{ define "main" }}
  <div class="container">
    <div class="content">
      {{ .Content }}
      <div class="columns is-multiline">
        {{ range .Resources.ByType "image" }}
          <div class="column is-half-tablet is-one-third-desktop">
            <div class="box p-0">
              <figure class="image is-3by2 mx-0">
                {{ $image := .Fit "800x600" }}
                <img src="{{ $image.RelPermalink }}">
              </figure>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
