{{ define "main" }}
  <div class="container mt-4">
    {{ .Content }}
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5" id="gallery">
      {{ range .Resources.ByType "image" }}
        <div class="bg-white rounded shadow-md w-full aspect-square p-2">
          {{ $image := .Fit "800x800" }}
          <a href="{{ .RelPermalink }}">
            <img class="gallery-image w-full h-full object-cover border" src="{{ $image.RelPermalink }}" alt="{{ .Title }}" data-src="{{ .RelPermalink }}" data-sub-html="#photo-caption-{{ .Name | anchorize }}">
          </a>
        </div>
        <div class="hidden" id="photo-caption-{{ .Name | anchorize }}">
          <div class="text-base font-bold text-neutral-100">{{ .Title }}</div>
          {{ with .Exif }}
            <div class="text-sm text-neutral-500">
              {{ with .Tags.Make }}{{ . }}{{ end }}
              {{ with .Tags.Model }}{{ . }}{{ end }}
              {{ with .Tags.LensModel }} + {{ . }}{{ end }}
            </div>
            <div class="text-sm text-neutral-500">
              {{ with .Tags.ApertureValue }}f/{{ lang.FormatNumber 1 . }}{{ end }}
              {{ with .Tags.ExposureTime }}{{ . }}s{{ end }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
