{{ $action := .Get "action" }}
{{ $method := .Get "method" }}
{{ $submit := .Get "submit" }}
{{ $captcha := .Get "captcha" }}

<div class="w-full lg:w-3/4">
  <form action="{{ $action }}" method="{{ $method }}">
    {{ .Inner }}

    {{ if $captcha }}
      <div class="h-captcha" data-sitekey="78d0d140-50f5-47d3-9dc2-be900dcafb64" data-callback="handleCaptchaResponse"></div>
      <p id="captcha-required-message" class="hidden px-5 py-4 font-sans font-semibold text-sm text-white bg-red-500 rounded-xs">Please complete the captcha first.</p>
    {{ end }}

    <div class="my-2">
      <button id="submit" class="button primary" type="submit">{{ $submit }}</button>
    </div>
  </form>
</div>

{{ if $captcha }}
  <script>
    const $captchaMessage = document.getElementById('captcha-required-message');

    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.h-captcha').forEach($captcha => {
        $captcha.dataset.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
      });

      document.getElementById('submit').addEventListener('click', function (event) {
        if (document.querySelector('[name=h-captcha-response]').value === '') {
          event.preventDefault();
          $captchaMessage.classList.remove('hidden');
        }
      });
    });

    function handleCaptchaResponse(response) {
      $captchaMessage.classList.add('hidden');
    }
  </script>
  <script src="https://js.hcaptcha.com/1/api.js"></script>
{{ end }}
