@import 'tailwindcss';

@source '../**/*.{css,js}';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans: Inter, Helvetica Neue, sans-serif;
  --font-serif: Charter, serif;
  --font-mono: monospace;
  --font-serif-retro: Times New Roman, Times, PT Serif, serif;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.625rem;
  --text-4xl: 2rem;

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f49;

  --color-secondary-50: #ecfdf5;
  --color-secondary-100: #d1fae5;
  --color-secondary-200: #a7f3d0;
  --color-secondary-300: #6ee7b7;
  --color-secondary-400: #34d399;
  --color-secondary-500: #10b981;
  --color-secondary-600: #059669;
  --color-secondary-700: #047857;
  --color-secondary-800: #065f46;
  --color-secondary-900: #064e3b;
  --color-secondary-950: #022c22;

  --color-accent-50: #fff7ed;
  --color-accent-100: #ffedd5;
  --color-accent-200: #fed7aa;
  --color-accent-300: #fdba74;
  --color-accent-400: #fb923c;
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
  --color-accent-700: #c2410c;
  --color-accent-800: #9a3412;
  --color-accent-900: #7c2d12;
  --color-accent-950: #431407;

  --color-black: #000;

  --color-black-alpha-80: rgba(0, 0, 0, 0.8);

  --background-image-home: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      transparent,
      transparent,
      transparent
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      transparent,
      transparent,
      transparent
    ),
    url('/images/glacierpoint.jpg');
  --background-image-retro: url('/images/texture2.gif');
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility button {
  @apply px-3.5 py-1.5 text-sm text-white font-sans font-semibold rounded-sm;

  &.primary {
    @apply bg-primary-600 hover:bg-primary-500;
  }
}

@utility primary {
  &.button {
    @apply bg-primary-600 hover:bg-primary-500;
  }
}

@layer base {
  * {
    @apply transition-colors duration-100;
  }

  html {
    font-size: 18px;
  }

  /* @media(prefers-color-scheme: dark) {
    html {
      @apply dark;
    }
  } */

  body {
    @apply bg-neutral-50 dark:bg-neutral-800 text-neutral-700 dark:text-neutral-100 leading-6 font-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-4 font-sans font-bold tracking-tight leading-tight;
  }

  h1 { @apply text-4xl font-extrabold tracking-tighter; font-size: 2.5rem; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }
  h4 { @apply text-xl; }
  h5 { @apply text-lg; }
  h6 { @apply text-base; }

  ul:not(nav *)  {
    @apply pl-8 list-disc;
  }

  ol {
    @apply pl-8 list-decimal;
  }

  ul:not(nav *) ul, ol ol, ul ol, ol ul {
    @apply my-1;
  }

  p, ul:not(nav *), ol, pre, table {
    @apply my-4;
  }

  a {
    @apply text-primary-600 dark:text-primary-300;
  }

  code {
    @apply p-0.5 text-xs bg-neutral-100 dark:bg-neutral-900 text-secondary-800 dark:text-secondary-300;
  }

  pre {
    @apply p-2 overflow-x-scroll leading-tight rounded-sm;
  }

  pre code {
    @apply p-0 m-0 bg-inherit dark:bg-inherit text-inherit;
  }

  table {
    @apply w-full;
  }

  thead {
    @apply border-b-2 border-neutral-300 dark:border-neutral-700 font-sans;
  }

  th {
    @apply py-2 text-left;
  }

  td {
    @apply py-2;
  }

  tbody tr {
    @apply border-y border-neutral-300 dark:border-neutral-700;
  }
}

/* Unique styles for the home page */

.kind-home nav, .dark.kind-home nav {
  @apply bg-transparent border-none;
}

.kind-home .site-title,
.kind-home .nav-menu-item,
.kind-home .theme-toggle-button,
.kind-home .nav-burger {
  @apply text-white;
}

.kind-home .nav-menu {
  @apply divide-y-0;
}

.kind-home .nav-menu-item, .dark.kind-home .nav-menu-item {
  @apply hover:text-black hover:bg-white;
}

.kind-home footer, .dark.kind-home footer {
  @apply bg-transparent text-neutral-700;
}

.kind-home footer a, .dark.kind-home footer a {
  @apply text-primary-300;
}
