{{ define "main" }}
  <div class="container mt-4">
    {{ .Content }}
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
      {{ range .Pages }}
        <div class="bg-white dark:bg-black rounded-lg shadow-md overflow-hidden">
          {{ $title := .Title }}
          {{ $link := .RelPermalink }}
          {{ with .Parent.Resources.GetMatch (printf "%s.*" .File.BaseFileName) }}
            {{ $image := .Fit "800x600" }}
            <a href="{{ $link }}">
              <img class="object-cover h-48 w-full border-b dark:border-neutral-700" src="{{ $image.RelPermalink }}" alt="Screenshot of {{ $title }}">
            </a>
          {{ end }}
          <div class="p-4">
            <h2 class="text-base font-[540]"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Description }}.</p>
            {{ with .Params.Tags }}
              <div class="flex flex-wrap justify-start mt-1">
                {{ range . }}
                  {{- partial "tag" . -}}
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
