{{ define "main" }}
  <div class="container">
    <div class="columns is-tablet is-flex-direction-row-reverse">
      <div class="content column is-half-tablet mb-0">
        {{ $title := .Title }}
        {{ with .Parent.Resources.GetMatch (printf "%s.*" .File.BaseFileName) }}
          {{ $image := .Fit "800x600"}}
          <figure class="image m-0 mb-2">
            <img src="{{ $image.RelPermalink }}" alt="Screenshot of {{ $title }}">
          </figure>
        {{ end }}
        {{ with .Params.Tags }}
          <p>
            {{ range . }}
              {{- partial "tag" . -}}
            {{ end }}
          </p>
        {{ end }}
      </div>
      <div class="content column is-half-tablet is-flex-wrap-wrap">
        {{ .Content }}
        {{ with .Params.Links }}
          {{ range . }}
            <p>
              <a href="{{ .href }}">{{ .text }}</a>
            </p>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
