<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="section-{{ .Section | default "none" }} type-{{ .Type | default "none" }} layout-{{ .Layout | default "none" }} kind-{{ .Kind | default "none" }}">
  <head>
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="theme-color" content="">

    {{- $theme := resources.Get "/js/theme.js" | js.Build -}}
    <script type="text/javascript" src="{{ $theme.RelPermalink }}"></script>

    {{- if .Site.IsServer -}}
      {{- $random := md5 now.Unix -}}
      {{- $tailwind := resources.Get "/css/tailwind.css" | resources.PostCSS | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) . -}}
      <link rel="stylesheet" href="{{ $tailwind.RelPermalink }}">
    {{- else -}}
      {{- $tailwind := resources.Get "/css/tailwind.css" | resources.PostCSS | resources.Fingerprint | resources.Minify -}}
      <link rel="stylesheet" href="{{ $tailwind.RelPermalink }}">
    {{- end -}}

    {{- $css := resources.Get "/css/main.scss" | toCSS -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  </head>
  <body>

    <div class="flex flex-col min-h-screen">

      {{- block "header" . -}}
        {{- partial "navigation.html" . -}}
        {{- partial "top.html" . -}}
      {{- end -}}

      <main id="main" class="main flex-grow">
        {{- block "main" . -}}{{- end -}}
      </main>

      {{- block "footer" . -}}
        {{- partial "footer.html" . -}}
      {{- end -}}

    </div>

    {{- $js := resources.Get "/js/main.js" | js.Build -}}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  </body>
</html>
