<div class="text-center">
  <hr>

  <a href="https://github.com/jfredrickson/jfredrickson.github.io">GitHub</a>
  / code:
  <a href="https://github.com/jfredrickson/jfredrickson.github.io/blob/main/LICENSE">AGPLv3</a>
  / content:
  <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">
    CC BY 4.0
  </a>

  <a href="https://www.webdesignmuseum.org/old-software/web-browsers/netscape-navigator-2-0"><img class="my-2 mx-auto" src="/images/netscape-2.0.gif"></a>
</div>
