<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="section-{{ .Section | default "none" }} type-{{ .Type | default "none" }} layout-{{ .Layout | default "none" }} kind-{{ .Kind | default "none" }}">
  <head>
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    {{- $css := resources.Get "/css/main.scss" | toCSS -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  </head>
  <body>

    {{- block "header" . -}}
      {{- partial "header.html" . -}}
      {{- partial "breadcrumbs.html" . -}}
      {{- partial "title.html" . -}}
    {{- end -}}

    {{- if not .IsHome -}}
      <main id="main">
        <div class="section">
    {{- end -}}

    {{- block "main" . -}}{{- end -}}

    {{- if not .IsHome -}}
        </div>
      </main>
    {{- end -}}

    {{- block "footer" . -}}
      {{- partial "footer.html" . -}}
    {{- end -}}

    {{- $js := resources.Get "/js/main.js" | js.Build -}}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  </body>
</html>
