<footer class="mt-12 p-8 font-sans bg-neutral-100 dark:bg-zinc-900">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="flex flex-col sm:flex-row sm:items-center justify-start text-xs">
        <a class="sm:mr-3" href="https://github.com/jfredrickson/jfredrickson.github.io">
          <span class="fas fa-brands fa-github"></span>
          <span>GitHub</span>
        </a>
        <a class="sm:mr-3" href="https://retro.ejeff.org{{ .RelPermalink }}">
          <span class="fas fa-clock-rotate-left"></span>
          <span>Go retro</span>
        </a>
      </div>
    </div>
  </div>
</footer>
