//
// Bulma variable overrides
//

@import "../vendor/bulma/sass/utilities/initial-variables.sass";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$desktop: 840px + (2 * $gap);
$family-sans-serif: "Inter", sans-serif;
$family-primary: "Merriweather", serif;
$family-secondary: $family-sans-serif;
$body-background-color: $white-bis;
$navbar-height: 4rem;
$navbar-background-color: $grey-darker;
$navbar-item-color: $white-ter;
$navbar-item-hover-color: $cyan;
$navbar-item-hover-background-color: transparent;
$navbar-burger-color: $grey-lighter;
$navbar-item-active-color: white;
$primary: $cyan;
$section-padding: 0.5rem 1rem;
$section-padding-desktop: $section-padding;
$section-padding-medium: $section-padding;
$section-padding-large: $section-padding;
$radius-large: 4px;
$pre-padding: 0;
$content-heading-weight: $weight-bold;
$content-pre-padding: 0;
$container-max-width: $widescreen;
$footer-padding: 3rem 0 0.5rem;
$footer-background-color: transparent;

@import "../vendor/bulma/bulma.sass";
