//
// Bulma variable overrides
//

@import "../vendor/bulma/sass/utilities/initial-variables.sass";
@import "../vendor/bulma/sass/utilities/functions.sass";

$radius-large: 8px;
$card-radius: $radius-large;

$family-primary: "Lato", serif;
$family-secondary: "Inter", "Helvetica Neue", sans-serif;

$subtitle-family: $family-secondary;
$subtitle-weight: $weight-bold;
$subtitle-color: $grey;

$primary: $cyan;
$body-background-color: $white-bis;
$shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.03);

$section-padding: 1rem;
$section-padding-desktop: $section-padding;
$section-padding-medium: $section-padding;
$section-padding-large: $section-padding;

$content-heading-weight: $weight-bold;
$content-pre-padding: 0;

$footer-padding: 3rem 0;
$footer-background-color: transparent;

@import "../vendor/bulma/bulma.sass";
