
$shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.05);


figure img {
  // box-shadow: $shadow;
  border: none;
}

.card figure img {
  box-shadow: none;
  // border-bottom: 1px solid $grey-lightest;
  object-fit: cover;
  height: 240px;
}

.section-photos {
  .box {
    border-radius: 0;
  }

  .box {
    line-height: 0;
  }

  .box figure img {
    box-shadow: none;
    border: none;
  }

  .photo-title {
    // color: $grey-lighter;
    font-size: 1.25rem;
    // font-weight: $weight-bold;
  }

  .photo-exif {
    font-size: 0.9rem;
    // color: $grey-light;
  }
}

.card {
  height: 100%;
}