h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.04em;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 740;
    font-family: $family-secondary;
  }

  ul ul, ol ol, ol ul, ul ol {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  code {
    padding: 0.125rem;
  }

  pre {
    code {
      padding: 0;
    }

    margin: 0.25rem 0;
    padding: 0.5rem;
    border-radius: $radius-large;
  }
}

figure img {
  box-shadow: $shadow;
  border: none;
}

.card figure img {
  box-shadow: none;
  border-bottom: 1px solid $grey-lightest;
}

.navbar {
  &.is-light .navbar-brand .navbar-item {
    color: findDarkColor($cyan);
  }

  &.is-light .navbar-end .navbar-item {
    color: findDarkColor($cyan);
  }

  .navbar-brand .navbar-item {
    font-family: 'Bungee', sans-serif;
    font-size: 1.4rem;
    letter-spacing: -0.04em;
    padding: 0 1rem;
  }

  .navbar-burger {
    &:hover {
      background-color: transparent;
    }
  }

  .navbar-cheezburger {
    padding: 15px;
  }
}

.hero-image {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent, transparent, transparent),
    url("/images/oranjestad.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs-section {
  li {
    font-size: 0.75rem;
  }
}

.card {
  height: 100%;
}