<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="theme-color" content="">

    <script defer data-domain="ejeff.org" src="https://plausible.tensouth.net/js/script.js"></script>

    {{- if .Site.IsServer -}}
      {{- $random := md5 now.Unix -}}
      {{- $tailwind := resources.Get "/css/tailwind.css" | resources.PostCSS | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) . -}}
      <link rel="stylesheet" href="{{ $tailwind.RelPermalink }}">
    {{- else -}}
      {{- $tailwind := resources.Get "/css/tailwind.css" | resources.PostCSS | resources.Fingerprint | resources.Minify -}}
      <link rel="stylesheet" href="{{ $tailwind.RelPermalink }}">
    {{- end -}}

    {{- $css := resources.Get "/css/main.scss" | toCSS -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  </head>
  <body>

    <div class="m-2">
      {{- block "header" . -}}
        {{- partial "navigation.html" . -}}
        {{- partial "top.html" . -}}
      {{- end -}}

      <main id="main" class="main">
        {{- block "main" . -}}{{- end -}}
      </main>

      {{- block "footer" . -}}
        {{- partial "footer.html" . -}}
      {{- end -}}
    </div>

  </body>
</html>
