@import 'tailwindcss';

@source '../**/*.{css,js}';

@theme {
  --font-*: initial;
  --font-sans: Inter, Helvetica Neue, sans-serif;
  --font-serif: Charter, serif;
  --font-mono: monospace;
  --font-serif-retro: Times New Roman, Times, PT Serif, serif;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.625rem;
  --text-4xl: 2rem;

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f49;

  --color-secondary-50: #ecfdf5;
  --color-secondary-100: #d1fae5;
  --color-secondary-200: #a7f3d0;
  --color-secondary-300: #6ee7b7;
  --color-secondary-400: #34d399;
  --color-secondary-500: #10b981;
  --color-secondary-600: #059669;
  --color-secondary-700: #047857;
  --color-secondary-800: #065f46;
  --color-secondary-900: #064e3b;
  --color-secondary-950: #022c22;

  --color-accent-50: #fff7ed;
  --color-accent-100: #ffedd5;
  --color-accent-200: #fed7aa;
  --color-accent-300: #fdba74;
  --color-accent-400: #fb923c;
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
  --color-accent-700: #c2410c;
  --color-accent-800: #9a3412;
  --color-accent-900: #7c2d12;
  --color-accent-950: #431407;

  --color-black: #000;

  --color-black-alpha-80: rgba(0, 0, 0, 0.8);

  --background-image-home: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      transparent,
      transparent,
      transparent
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      transparent,
      transparent,
      transparent
    ),
    url('/images/glacierpoint.jpg');
  --background-image-retro: url('/images/texture2.gif');
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility button {
  @apply px-3.5 py-0.5;
  background-color: #c0c0c0;
  border-width: 2px;
  border-color: #dadada #9d9d9d #9d9d9d #dadada;

  &:active {
    border-color: #9d9d9d #dadada #dadada #9d9d9d;
  }
}

@layer base {
  body {
    @apply font-serif-retro bg-retro bg-repeat;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-4 font-bold;
  }

  h1 { @apply text-4xl; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }
  h4 { @apply text-xl; }
  h5 { @apply text-lg; }
  h6 { @apply text-base; }

  ul {
    @apply pl-8 list-disc;
  }

  ol {
    @apply pl-8 list-decimal;
  }

  ul ul, ol ol, ul ol, ol ul {
    @apply my-1;
  }

  p, ul, ol, pre, table {
    @apply my-4;
  }

  a {
    color: #0000ee;
    text-decoration: underline;
  }

  a:visited {
    color: #551a8b;
  }

  hr {
    @apply my-2;
    height: 2px;
    border-width: 2px;
    border-color: #9d9d9d #dadada #dadada #9d9d9d;
  }

  table {
    border-collapse: separate;
    border-width: 1px;
    border-color: #dadada #9d9d9d #9d9d9d #dadada;
  }

  th {
    border-width: 1px;
    border-color: #9d9d9d #dadada #dadada #9d9d9d;
  }

  td {
    border-width: 1px;
    border-color: #9d9d9d #dadada #dadada #9d9d9d;
  }
}
