<div class="container">
  <nav aria-label="breadcrumbs">
    <ul class="p-0 text-xs font-sans list-none">
      {{ template "breadcrumbItems" (dict "p1" . "p2" .) }}
    </ul>
  </nav>
</div>

{{ define "breadcrumbItems" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbItems" (dict "p1" .p1.Parent "p2" .p2) }}
  {{ end }}

  {{ if eq .p1 .p2 }}
    <li class="inline" aria-current="page">{{ .p1.Title }}</li>
  {{ else }}
    <li class="inline"><a href="{{ .p1.RelPermalink }}">{{ .p1.Title }}</a><span class="px-2 after:content-['\02192']"></span></span></li>
  {{ end }}
{{ end }}
