<nav class="navbar is-spaced is-family-secondary {{ if .IsHome }}is-dark{{ else }}is-light{{ end }}" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-semibold" href="/">
        {{ .Site.Title }}
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        {{ range .Site.Menus.primary }}
          <a class="navbar-item has-text-weight-semibold" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
