{{ define "main" }}
  <div class="container mt-4">
    {{ .Content }}
  </div>
  <div class="sm:container">
    <div class="">
      {{ range .Pages }}
        <div class="flex flex-col sm:flex-row sm:rounded-xs sm:shadow-md overflow-hidden mb-16 sm:mb-10">
          <div class="basis-3/5 sm:order-last">
            {{ $title := .Title }}
            {{ $link := .RelPermalink }}
            {{ with .Parent.Resources.GetMatch (printf "%s.*" .File.BaseFileName) }}
              {{ $image := .Fit "800x600" }}
              <a href="{{ $link }}">
                <img class="object-cover h-full w-full border-y sm:border-y-0 md:border-l border-gray-200 dark:border-neutral-800" src="{{ $image.RelPermalink }}" alt="Screenshot of {{ $title }}">
              </a>
            {{ end }}
          </div>
          <div class="basis-2/5 p-4 bg-transparent sm:bg-white sm:dark:bg-neutral-900 dark:border-neutral-800 md:border-none flex flex-col">
            <h2 class="mt-0">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <p class="grow">{{ .Description }}{{ if not (strings.HasSuffix .Description ".") }}.{{ end }}</p>
            <div>
              {{ range (.GetTerms "tags") }}
                {{- partial "tag" . -}}
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
