{{ define "main" }}
  <div class="container">

    <div class="flex flex-col md:flex-row-reverse md:gap-8">
      <div class="md:w-1/2">
        {{ $title := .Title }}
        {{ with .Parent.Resources.GetMatch (printf "%s.*" .File.BaseFileName) }}
          {{ $image := .Fit "800x600"}}
          <img class="mt-6 rounded shadow-md" src="{{ $image.RelPermalink }}" alt="Screenshot of {{ $title }}">
        {{ end }}
      </div>

      <div class="md:w-1/2">
        {{ .Content }}
        <h2>Links</h2>
        {{ with .Params.Links }}
          {{ range . }}
            <p>
              <a href="{{ .href }}">{{ .text }} ›</a>
            </p>
          {{ end }}
        {{ end }}
      </div>
    </div>

  </div>
{{ end }}
