{{ define "header" }}
  <div class="home-bg flex flex-col h-screen bg-center bg-no-repeat bg-cover bg-home">
    {{- partial "navigation.html" . -}}
{{ end }}

{{ define "main" }}
  <div class="container">
    {{ with .Content }}
      <div class="flex flex-row">
        <div class="grow md:flex-initial">
          <div class="py-1 px-4 rounded-xs bg-neutral-50 dark:bg-neutral-800">
            <h1 class="sr-only">Home</h1>
            {{ . }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "footer" }}
    {{- partial "footer.html" . -}}
  </div>
{{ end }}
